.homePage{
  padding: 0 2rem;
  height: calc(100vh - 6.5rem);
 // Altura fixa
    //calculo (100% do tamanho da altura da tela - o tamanho do header)
    //Ou seja, terá o tamanho todo da tela, tirando o cabeçalho
  overflow-y: scroll;
    //Cria uma barra de rolagem somente nesta seção, ou seja caso a tela seja rolada
    //o header e o player ficarão no mesmo lugar enquanto está seção irá atualizar
    // Caso o height passe o valor estipulado a barra irá aparecer

  h2{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.lastEpisodes{
  h2{
    margin-top: .1rem;
  }
  ul{
    list-style: none;//Remove as sinalizções de lista
    display: grid;// Estilo de grid, possibilita alterações na vertical e horizontal
    grid-template-columns: repeat(2, 1fr);//Dimensão do grid - 2 itens por linha, com distancia de 1fr
    gap:1.5rem;// espaçamento entre itens

    li{
      font-size: 13px;
      background: var(--white);
      border:  1px solid var(--gray-100);
      padding: 1.25rem;
      border-radius: 1.5rem;

      position: relative;//utiliza a propria localização como referencia
      display: flex;
      align-items: center;

      img{
        width: 7rem;
        height: 6rem;
        border-radius: 0.5rem;
      }

      .episodeDetails{
        flex:1;
        margin-left:.5rem;

        a{
          font-size: 0.8rem;
          display: block;
          color: var(--gray-800);
          font-family: Lexend, sans-serif;
          font-weight: 600; //grossura
          text-decoration: none;//remoçã de links
          line-height: 1.4rem;//espaçamento de linha

          &:hover{
            text-decoration: underline;
          }
        }
        p{
          font-size: 0.5rem;
          margin-top: 0.5rem;
          max-width: 70%;
          white-space: nowrap;//nunca quebrar de linha
          overflow: hidden;//Oque passar dos 70% não será exibido para o usuario
          text-overflow: ellipsis;//Coloque ... quando passar do tamanho maximo
        }
        span{
          display: inline-block;
          margin-top: 0.5rem;
          font-size: 0.875rem;

          &:last-child{ //referencia ao ultimo span
            margin-left: 0.5rem;
            padding-left: 0.5rem;
            position: relative;

            &::before{ //realiza uma ação ANTES do ULTIMO span
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 2px;
              background: #ddd;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(-50%, -50%);//Menos 2px pra cima e pro lado, deixando o item exaatamente no meio

            }
          }
        }
      }
      button{
        position: absolute;
        right: 2rem;
        bottom:2rem;

        width: 2.5rem;
        height: 2.5rem;
        background: var(--white);
        border:1px solid var(--gray-100);
        border-radius: 0.675rem;
        font-size: 0;//sempre que for um botao somente com uma imagem é interessante
        //reiniciar o tamanho dele

        img{
          width: 1.5rem;
          height: 1.5rem;
        }
        &:hover{
          filter:brightness(90%)
        }
      }
    }
  }
}

.allEpisodes{
  padding-bottom: 2rem;

  table{
    width: 100%;

    th, td{
      padding: 0.75rem .2rem;
      border-bottom: 1px solid var(--gray-100);
    }
    th{
      color: var(--gray-200);
      text-transform: uppercase; //Letras maiuculas
      font: 500 0.6rem Lexend, sans-serif;//grossura tamanho estilo estilo secundario
      text-align: left;
    }

    td{
      font-size:  0.65em;
      
      img{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.5rem;
      }
      a{
        color: var(--gray-800);
        font-family: Lexend, sans-serif;
        font-weight: 600;
        text-decoration: none;
        line-height: 1.4rem;
        font-size: .675rem;

        &:hover{
          text-decoration: underline;
        }
      }
      button{
        width: 2rem;
        height: 2rem;
        background: var(--white);
        border:1px solid var(--gray-100);
        border-radius: 0.5rem;
        font-size: 0;//sempre que for um botao somente com uma imagem é interessante
        //reiniciar o tamanho dele

        img{
          width: 1rem;
          height: 1rem;

        }
        &:hover{
          filter:brightness(90%)
        }
      }
    }
  }
}